@model URLShortener.Models.Link


<div class="container">
    <div class=""></div>
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @using (Html.BeginForm("Result", "Home", FormMethod.Post, new { @class = "form-group" }))
    {
        <div class="input-group">
            
                @Html.TextBoxFor(x => x.Long, new { @class = "form-control", placeholder = "Paste in link you want to shorten." })
            <span class="input-group-btn">
                <button class="btn btn-primary">Shorten your URL!</button>
            </span>
        </div>
       
    }
</div>

