@model URLShortener.Models.Link


<div class="container">
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @using (Html.BeginForm("Result", "Home", FormMethod.Post, new { @class = "form-group" }))
    {
        <div>
            <div class="form-group">
                @Html.LabelFor(x => x.Long, "Enter URL :", new { @class = "form-control" })
          
                @Html.TextBoxFor(x => x.Long, new { @class = "form-control", placeholder = "URL" })
            </div>
        </div>
        <button class="btn btn-primary">Shorten your URL!</button>
    }
</div>