@model URLShortener.Models.Link

<div class="container">
    @using (@Html.BeginForm("ConfirmRemove", "Home", new { id = Model.Id }, FormMethod.Post))
    {
        <table class="table table-danger table-hover">
            <tr>
                <th>
                    Original URL
                </th>
                <th>
                    Shortened Version
                </th>
                <th>
                    Number Of Enters
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(x => x.Long)
                </td>
                <td>
                    http://localhost:59290/@Html.DisplayFor(x => x.Short)
                </td>
                <td align="center">
                    @Html.DisplayFor(x => x.NumberOfClicks)
                </td>
            </tr>
        </table>
        <div align="center">
            <div class="col-md-3">
                <p>Do you still want to remove?</p>
                <div class="float-left">
                    <button class="btn btn-success btn-lg">Yes</button>
                </div>
                <div class="float-right">
                    <a class="btn btn-danger btn-lg" href="@Url.Action("ShowLinks")" >No</a>
                </div>
            </div>
        </div>
        
    }
</div>