@model URLShortener.Models.Link
  
<div class="container">
    <div>
        <table class="table table-hoover">
            <tr>
                <td class="table-success">
                    Shortened link:
                </td>
                
                    @if (ViewBag.Message == "Login or password incorrect!")
                    {
                        <td class="table-danger">
                            @ViewBag.Message
                        </td>
                    }
                    else
                    {
                        <td class="table-success">
                            @ViewBag.Message
                        </td>
                    }

            </tr>
         </table>
     </div>
    </div>
