@model URLShortener.Models.Link
  
<div class="container">
    <div>
        <table class="table table-hoover">
            <tr>
                <td class="table-success">
                    Shorten link:
                </td>
                <td class="table-success">
                    @ViewBag.Message
                </td>
            </tr>
         </table>
     </div>
    </div>
