@model List<URLShortener.Models.Link>
<div class="container">
    <div>
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    Original URL
                </th>
                <th>
                    Shortened Version
                </th>
                <th>
                    Number Of Enters
                </th>
                <th>
                    Options
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(x => item.Long)
                    </td>
                    <td>
                        http://localhost:59290/@Html.DisplayFor(x => item.Short)
                    </td>
                    <td>
                        @Html.DisplayFor(x => item.NumberOfClicks)
                    </td>
                    <td>
                        <a class="btn btn-outline-danger btn-sm" href="@Url.Action("Remove", new { id = item.Id })">Remove <i class="fa fa-remove"></i></a>
                    </td>
                </tr>
            }
        </table>
        <br />
        <a class="btn btn-success" href="@Url.Action("Index")">Add Link <i class="fa fa-plus"></i></a>
    </div>
</div>
