<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <main>
        <div>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container">
                    <a class="navbar-brand" href="https://github.com/Frothor" target="_blank"><i class="fa fa-github"></i> My GitHub</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/Home/Index"><i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link" href="/Home/ShowLinks">Your links</a>
                                </li>
                        </ul>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <a href="/Home/LogOut" class="btn btn-outline-primary my-2 my-sm-0" role="button">Logout</a>


                        }
                        else
                        {

                            <a href="/Home/Register" class="btn btn-outline-primary my-2 my-sm-0" role="button">Register</a>


                            <a href="/Home/Login" class="btn btn-outline-primary my-2 my-sm-0" role="button">Login</a>
                       




                        }
                        @*@if (User.Identity.IsAuthenticated)
                            {
                                <div>
                                    @using (Html.BeginForm("LogOut", "Home", FormMethod.Get))
                                    {
                                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Logout</button>
                                    }
                                </div>

                            }
                            else
                            {
                                <div id="spacer">
                                    @using (Html.BeginForm("Register", "Home", FormMethod.Get))
                                    {
                                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Register</button>
                                    }
                                </div>
                               <div>
                                   @using (Html.BeginForm("Login", "Home", FormMethod.Get))
                                   {
                                       <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Login</button>
                                   }
                               </div>



                            }*@

                    </div>
            </div>
            </nav>
            </div>
            @RenderBody()
        </main>
    </body>
</html>
